body{
    background-color: #181818 !important;
}

.navbar{
    background-color: #181818;
    padding: 10px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.nav-item{
    margin-right: 10px;
}

.yellow-hover:hover{
    color: #E5C078 !important;

}

.contactbutton{
    padding: 5px 15px 5px 15px !important;
    background-color: #A0BA72;
    border-radius: 10px;
}

.contactbutton:hover{
    color: white;
    text-decoration: none;
    background-color: #E5C078;
}

.contact{
    margin-top: 5px !important;
}

.whyus-page-heading{
    margin-top: 100px;
    text-align: center ;
    color: #E5C078;
}

.article{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 30px;
}

.article-img{
    width: 500px;
    height: 400px;
    background-color: white;
    margin: 50px;
    border-radius: 15px;
}

.article-heading{
    color: #E5C078;
}



.article-p{
    width: 500px;
    min-height: 100%;
    margin: 50px;
}

.article-p p{
    color: white;
}

/* Article Images */

#article-img-1{
    background-image: url('images/why-us-1.jpg');
    background-size: 100%;
    background-position: center;
}

#article-img-2{
    background-image: url('images/why-us-2.jpg');
    background-size: 130%;
    background-position: center;
}

#article-img-3{
    background-image: url('images/why-us-3.jpg');
    background-size: 130%;
    background-position: center;
}

/* As Seen On */

.as-seen-on{
    margin-top: 100px;
    color: #E5C078;
}

.trust-badges{
    min-height: 25vh;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.trust-badge-img{
    margin-top: 100px;
    width: 50vw;
    background-image: url('images/badges-grouped.png');
    background-size: 100%;
    background-position: center;
}

footer{
    background-color: #1f1f1f;
    min-height: 30vh;
    padding: 50px;
    margin-top: 200px;

}

.footer-container{
    /* border: solid white 1px; */
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-ul{
    list-style: none;
    margin: 25px;
}

.footer-links{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.footer-links:hover{
    color: #A0BA72;
}

.line{
    border: 1px solid white;
    min-height: 100%;
}

.copyright{
    color: rgb(163, 163, 163);
    text-align: center;
}